body {
  padding: 0px 50px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #009688;
}

h1 {
  text-align: center;
  border: 2px solid #212121;
  color: #212121;
  padding: 15px;
  margin-top: 25px;
}

h2 {
  text-align: center;
  border-bottom: solid 2px #FF5252;
  padding: 20px 0px;
  margin: 0;
  color: #212121;
}

h3 {
  padding-left: 20px;
  line-height: .5em;
  font-weight: lighter;
  color: #212121;
}

h4 {
  background-color: #FF5252;
  color: #212121;
  padding: 0px 0px 0px 5px;
}

.head {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
} 

.card {
  box-shadow: 8px 10px #00796B;
  width: 400px;
  margin: 50px;
  border: solid 2px #FF5252;
  background-color: #fff;
}

.card img {
  width: 250px;
  text-align: center;
  margin: 0px 75px;
}

.card p {
  padding: 0px 5px;
  color: #212121;
}

.product-specs p {
  font-weight: bold;
  padding-left: 40px;
  line-height: .5em;
  font-size: .9em;
  color: #212121;
}

.product-pricing p {
  font-weight: bold;
  padding-left: 40px;
  line-height: .5em;
  font-size: .9em;
  color: #212121;
}

footer {
  padding: 5px 0px 0px 5px;
  font-size: .75em;
  line-height: .5em;
  color: #757575;
}
